body {
  color: #000;
  background-color: #FFF;
}

.main {
  margin-left: 3em;
  margin-right: auto;
}

.button {
  background-color: #FF5F05;
  font-weight: bold;
  color: #13294B;
  padding: 0.25em;
}

h1 {
  font-weight: bold;
  color: #13294B;
  text-align: center;
}

.header {
  border-bottom: #000 solid 1px;
}

.bold {
  font-weight: bold;
}
