body {
  color: #000;
  background-color: #FFF;
}

.main {
  margin-left: 3em;
  margin-right: auto;
}

/* .button {
  background-color: #F5821E;
  font-weight: bold;
  color: #13294B;
  padding: 0.25em;
  border: solid 1px #13294B
} */

.button {
	box-shadow:inset 0px 1px 0px 0px #c84013;
	background:linear-gradient(to bottom, #f5821e 5%, #ff6105 100%);
	background-color:#f5821e;
	border-radius:3px;
	border:1px solid #13294b;
	display:inline-block;
	cursor:pointer;
	color:#13294b;
	font-family:Arial;
	font-size: 1em;
	font-weight:bold;
	padding:1em 1.25em;
	text-decoration:none;
	text-shadow:0px 0px 0px #c84013;
}
.button:hover {
	background:linear-gradient(to bottom, #13294b 5%, #1D58A7 100%);
	background-color:#13294b;
  color: #FFF
}
.button:focus {
	background:linear-gradient(to bottom, #13294b 5%, #1D58A7 100%);
	background-color:#13294b;
  color: #FFF
}
.button:active {
	position:relative;
	top:1px;
}

h1 {
  font-weight: bold;
  color: #13294B;
  text-align: center;
}

.header {
  border-bottom: #000 solid 1px;
}

.bold {
  font-weight: bold;
}
